.main-page {
  background: linear-gradient(270deg, #a5deff 1.34%, #fcfefe 99.8%);
}
.main-page-text-container {
    border-radius: 40px;
background:#FFF;
padding-top: 60px;
padding-left:  60px;
padding-right: 60px;
padding-bottom: 60px;
box-sizing: border-box;
}

.main-page-btn{
    background:#FF6B0A;
    border: none;
    color: #FFF;
    border-radius: 8px;
background:#FF6B0A;
padding-top: 12px;
padding-left: 24px;
padding-bottom: 12px;
padding-right: 24px;
}

